<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        #d8{width: 50%;margin:auto;padding-top:40px;}
        table{border-collapse: saperate;border-spacing:2px 1px;}
        th{background-color: rgb(83, 83, 205);color:black;padding:10px;width: 150px;}
        td{background-color: rgb(157, 157, 235);color: white;}
        td{width: 150px;text-align: center;padding:5px}
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div id='d8'>
    <table>
        <tr><th>First_Name</th><th>Last_Name</th><th>Phone_NO</th><th>Joining_Date</th><th>Designation</th></tr>
        {% for i in emp_data %}
        <tr><td>{{i.First_Name}}</td><td>{{i.Last_Name}}</td><td>{{i.Phone_NO}}</td><td>{{i.Joining_Date}}</td><td>{{i.Designation}}</td></tr>
        {% endfor %}
    </table>
    </div>
    {% include 'footer.html' %}
</body>
</html>